h1, h2, p
{
    margin: 0;
    padding: 0;
}

.header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__middle
{
    flex-grow: 1;
}

.header__contact
{
    display: flex;
    flex-direction: column;
}

.header__link
{
    text-decoration: none;
    color:black;
}

.header__img
{
    width:150px;
}

table
{
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0px;
}

td, th
{
    border: 1px solid #080;
    width: 50%
}

th
{
    color: #080;
}

.table__link
{
    text-decoration: none;
    color:black;
}

a:hover
{
    color: #080;
}

hr
{
    margin: 20px 0px;
}

.splitter
{
    background-color: #080;
    color: #FFF;
    margin: 20px 0px;
    text-align: center;
}

textarea
{
    width: 100%;
}

.form__singular, .form__left
{
    width: 48%;
}

.form__input
{
    display: flex;
    margin-bottom: 10px;
    gap: 4%;
}

.form__button
{
    background-color: #080;
    color: #FFF;
    border: 0;
    margin: 0 auto;
    display: block;
}

.tech
{
    display: flex;
    justify-content: space-between;
}

.tech__item
{
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tech__item-img
{
  width: 200px;
}

body {
    margin: 0 15%;
}